# Install Packages

In [2]:
pip install ipython-sql==0.5.0 prettytable==3.9.0 pandas numpy

Requirement already satisfied: ipython-sql==0.5.0 in /opt/homebrew/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable==3.9.0 in /opt/homebrew/lib/python3.11/site-packages (3.9.0)
Requirement already satisfied: pandas in /opt/homebrew/lib/python3.11/site-packages (2.3.3)
Requirement already satisfied: numpy in /opt/homebrew/lib/python3.11/site-packages (2.3.4)
Requirement already satisfied: ipython in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from ipython-sql==0.5.0) (9.7.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/homebrew/lib/python3.11/site-packages (from ipython-sql==0.5.0) (2.0.44)
Requirement already satisfied: sqlparse in /opt/homebrew/lib/python3.11/site-packages (from ipython-sql==0.5.0) (0.5.3)
Requirement already satisfied: six in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from ipython-sql==0.5.0) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/homebrew/lib/python3.11/site-packages (from ipython-sql==0.5.0) (0.2.0)
Requirement already satisfied: wcwidth in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from prettytable==3.9.0) (0.2.14)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from sqlalchemy>=2.0->ipython-sql==0.5.0) (4.15.0)
Requirement already satisfied: decorator>=4.3.2 in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql==0.5.0) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers>=1.0.0 in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql==0.5.0) (1.1.1)
Requirement already satisfied: jedi>=0.18.1 in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql==0.5.0) (0.19.2)
Requirement already satisfied: matplotlib-inline>=0.1.5 in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql==0.5.0) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql==0.5.0) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql==0.5.0) (3.0.52)
Requirement already satisfied: pygments>=2.11.0 in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql==0.5.0) (2.19.2)
Requirement already satisfied: stack_data>=0.6.0 in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql==0.5.0) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from ipython->ipython-sql==0.5.0) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from jedi>=0.18.1->ipython->ipython-sql==0.5.0) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from pexpect>4.3->ipython->ipython-sql==0.5.0) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from stack_data>=0.6.0->ipython->ipython-sql==0.5.0) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from stack_data>=0.6.0->ipython->ipython-sql==0.5.0) (3.0.0)
Requirement already satisfied: pure-eval in /Users/remydinh/Library/Python/3.11/lib/python/site-packages (from stack_data>=0.6.0->ipython->ipython-sql==0.5.0) (0.2.3)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: /opt/homebrew/opt/python@3.11/bin/python3.11 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

# Import data

In [ ]:
# 1. Import dependencies
import pandas as pd
from sqlalchemy import create_engine

# 2. Load CSV into a DataFrame
df = pd.read_csv('synthetic_meta_ads_eco_supplements.csv')

# 3. Create (or connect) SQLite database
engine = create_engine('sqlite:///marketing.db')

# 4. Write the DataFrame to SQL, replacing the table if it exists
df.to_sql('meta_ads_data', con=engine, if_exists='replace', index=False)

# 5. Load the SQL magic extension (to run SQL directly in Jupyter)
%load_ext sql

# 6.Connect to the SQLite database
%sql sqlite:///marketing.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [22]:
%sql SELECT * FROM meta_ads_data LIMIT 5;

 * sqlite:///marketing.db
Done.

[('2025-01-01', 'New Year Boost', 'New Year Boost - Ad Set 1', 'New Year Boost - Ad Set 1 - Ad 1', 'Netherlands', '18-24', 'Male', 4952, 611, 0.1233844911147011, 1.19, 761.6947468905493, 15, 76.17, 510),
 ('2025-01-01', 'New Year Boost', 'New Year Boost - Ad Set 1', 'New Year Boost - Ad Set 1 - Ad 1', 'Netherlands', '18-24', 'Female', 5125, 570, 0.1112195121951219, 1.34, 968.1383136722654, 42, 34.58, 1512),
 ('2025-01-01', 'New Year Boost', 'New Year Boost - Ad Set 1', 'New Year Boost - Ad Set 1 - Ad 1', 'Netherlands', '25-34', 'Male', 5022, 365, 0.0726802070888092, 1.09, 399.2448996548187, 46, 12.88, 992),
 ('2025-01-01', 'New Year Boost', 'New Year Boost - Ad Set 1', 'New Year Boost - Ad Set 1 - Ad 1', 'Netherlands', '25-34', 'Female', 5023, 400, 0.0796336850487756, 1.12, 496.98518467628145, 30, 24.85, 1000),
 ('2025-01-01', 'New Year Boost', 'New Year Boost - Ad Set 1', 'New Year Boost - Ad Set 1 - Ad 1', 'Netherlands', '35-44', 'Male', 5055, 558, 0.1103857566765578, 1.11, 650.8920360999524, 49, 19.72, 1881)]

In [23]:
%sql SELECT COUNT(*) AS row_count, MIN(Date) AS start_date, MAX(Date) AS end_date, COUNT(DISTINCT Date) AS num_days FROM meta_ads_data;

 * sqlite:///marketing.db
Done.

[(208512, '2025-01-01', '2025-06-30', 181)]

Exploratory data analysis --> ETL --> DASHBOARD --> AI REPORT

### 1. Table Overview

In [24]:
%sql SELECT COUNT(*) AS row_count, MIN(Date) AS start_date, MAX(Date) AS end_date, COUNT(DISTINCT Date) AS num_days, COUNT(DISTINCT Campaign) AS num_campaigns, COUNT(DISTINCT Ad_Set) AS num_ad_sets, COUNT(DISTINCT Ad) AS num_ads, COUNT(DISTINCT Country) AS num_countries, COUNT(DISTINCT Age_Group) AS num_age_groups, COUNT(DISTINCT Gender) AS num_genders FROM meta_ads_data;

 * sqlite:///marketing.db
Done.

[(208512, '2025-01-01', '2025-06-30', 181, 4, 12, 36, 4, 4, 2)]

### 2. Null / Completeness Checks

In [25]:
%sql SELECT COUNT(*) AS total_rows, COUNT(Campaign) AS campaign_not_null, COUNT(Ad_Set) AS ad_set_not_null, COUNT(Ad) AS ad_not_null, COUNT(Impressions) AS impressions_not_null, COUNT(Clicks) AS clicks_not_null, COUNT(Spend) AS spend_not_null, COUNT(Conversions) AS conversions_not_null, COUNT(Revenue) AS revenue_not_null FROM meta_ads_data;

 * sqlite:///marketing.db
Done.

[(208512, 208512, 208512, 208512, 208512, 208512, 208512, 208512, 208512)]

### 3. Categorical Consistency

In [26]:
%sql SELECT Gender, COUNT(*) AS count FROM meta_ads_data GROUP BY Gender ORDER BY Gender;

 * sqlite:///marketing.db
Done.

[('Female', 104256), ('Male', 104256)]

In [28]:
%sql SELECT Age_Group, COUNT(*) AS count FROM meta_ads_data GROUP BY Age_Group ORDER BY Age_Group;

 * sqlite:///marketing.db
Done.

[('18-24', 52128), ('25-34', 52128), ('35-44', 52128), ('45-54', 52128)]

In [27]:
%sql SELECT Country, COUNT(*) AS count FROM meta_ads_data GROUP BY Country ORDER BY Country;

 * sqlite:///marketing.db
Done.

[('Belgium', 52128),
 ('Denmark', 52128),
 ('Germany', 52128),
 ('Netherlands', 52128)]

### 4. Metric Integrity Checks

In [29]:
%sql SELECT COUNT(*) AS bad_ctr_rows FROM meta_ads_data WHERE Impressions > 0 AND ABS((Clicks * 1.0 / Impressions) - CTR) > 0.01;

 * sqlite:///marketing.db
Done.

[(6273,)]

In [30]:
%sql SELECT COUNT(*) AS bad_cpc_rows FROM meta_ads_data WHERE Clicks > 0 AND ABS((Spend / Clicks) - CPC) > 0.01;

 * sqlite:///marketing.db
Done.

[(174404,)]

### 5. Range / Outlier Checks

In [31]:
%sql SELECT MIN(Impressions) AS min_impressions, MAX(Impressions) AS max_impressions, MIN(Clicks) AS min_clicks, MAX(Clicks) AS max_clicks, MIN(Spend) AS min_spend, MAX(Spend) AS max_spend, MIN(Conversions) AS min_conversions, MAX(Conversions) AS max_conversions, MIN(Revenue) AS min_revenue, MAX(Revenue) AS max_revenue FROM meta_ads_data;

 * sqlite:///marketing.db
Done.

[(869, 5323, 0, 1458, 0.0, 3194.77753091004, 0, 596, 0, 23760)]

In [32]:
%sql SELECT * FROM meta_ads_data WHERE CTR < 0 OR CTR > 1 OR CPC < 0 OR Spend < 0 LIMIT 20;

 * sqlite:///marketing.db
Done.

[]

### 6. Daily Volume Distribution

In [33]:
%sql SELECT Date, COUNT(*) AS rows_per_day FROM meta_ads_data GROUP BY Date ORDER BY Date;

 * sqlite:///marketing.db
Done.

[('2025-01-01', 1152),
 ('2025-01-02', 1152),
 ('2025-01-03', 1152),
 ('2025-01-04', 1152),
 ('2025-01-05', 1152),
 ('2025-01-06', 1152),
 ('2025-01-07', 1152),
 ('2025-01-08', 1152),
 ('2025-01-09', 1152),
 ('2025-01-10', 1152),
 ('2025-01-11', 1152),
 ('2025-01-12', 1152),
 ('2025-01-13', 1152),
 ('2025-01-14', 1152),
 ('2025-01-15', 1152),
 ('2025-01-16', 1152),
 ('2025-01-17', 1152),
 ('2025-01-18', 1152),
 ('2025-01-19', 1152),
 ('2025-01-20', 1152),
 ('2025-01-21', 1152),
 ('2025-01-22', 1152),
 ('2025-01-23', 1152),
 ('2025-01-24', 1152),
 ('2025-01-25', 1152),
 ('2025-01-26', 1152),
 ('2025-01-27', 1152),
 ('2025-01-28', 1152),
 ('2025-01-29', 1152),
 ('2025-01-30', 1152),
 ('2025-01-31', 1152),
 ('2025-02-01', 1152),
 ('2025-02-02', 1152),
 ('2025-02-03', 1152),
 ('2025-02-04', 1152),
 ('2025-02-05', 1152),
 ('2025-02-06', 1152),
 ('2025-02-07', 1152),
 ('2025-02-08', 1152),
 ('2025-02-09', 1152),
 ('2025-02-10', 1152),
 ('2025-02-11', 1152),
 ('2025-02-12', 1152),
 ('2025-02-13', 1152),
 ('2025-02-14', 1152),
 ('2025-02-15', 1152),
 ('2025-02-16', 1152),
 ('2025-02-17', 1152),
 ('2025-02-18', 1152),
 ('2025-02-19', 1152),
 ('2025-02-20', 1152),
 ('2025-02-21', 1152),
 ('2025-02-22', 1152),
 ('2025-02-23', 1152),
 ('2025-02-24', 1152),
 ('2025-02-25', 1152),
 ('2025-02-26', 1152),
 ('2025-02-27', 1152),
 ('2025-02-28', 1152),
 ('2025-03-01', 1152),
 ('2025-03-02', 1152),
 ('2025-03-03', 1152),
 ('2025-03-04', 1152),
 ('2025-03-05', 1152),
 ('2025-03-06', 1152),
 ('2025-03-07', 1152),
 ('2025-03-08', 1152),
 ('2025-03-09', 1152),
 ('2025-03-10', 1152),
 ('2025-03-11', 1152),
 ('2025-03-12', 1152),
 ('2025-03-13', 1152),
 ('2025-03-14', 1152),
 ('2025-03-15', 1152),
 ('2025-03-16', 1152),
 ('2025-03-17', 1152),
 ('2025-03-18', 1152),
 ('2025-03-19', 1152),
 ('2025-03-20', 1152),
 ('2025-03-21', 1152),
 ('2025-03-22', 1152),
 ('2025-03-23', 1152),
 ('2025-03-24', 1152),
 ('2025-03-25', 1152),
 ('2025-03-26', 1152),
 ('2025-03-27', 1152),
 ('2025-03-28', 1152),
 ('2025-03-29', 1152),
 ('2025-03-30', 1152),
 ('2025-03-31', 1152),
 ('2025-04-01', 1152),
 ('2025-04-02', 1152),
 ('2025-04-03', 1152),
 ('2025-04-04', 1152),
 ('2025-04-05', 1152),
 ('2025-04-06', 1152),
 ('2025-04-07', 1152),
 ('2025-04-08', 1152),
 ('2025-04-09', 1152),
 ('2025-04-10', 1152),
 ('2025-04-11', 1152),
 ('2025-04-12', 1152),
 ('2025-04-13', 1152),
 ('2025-04-14', 1152),
 ('2025-04-15', 1152),
 ('2025-04-16', 1152),
 ('2025-04-17', 1152),
 ('2025-04-18', 1152),
 ('2025-04-19', 1152),
 ('2025-04-20', 1152),
 ('2025-04-21', 1152),
 ('2025-04-22', 1152),
 ('2025-04-23', 1152),
 ('2025-04-24', 1152),
 ('2025-04-25', 1152),
 ('2025-04-26', 1152),
 ('2025-04-27', 1152),
 ('2025-04-28', 1152),
 ('2025-04-29', 1152),
 ('2025-04-30', 1152),
 ('2025-05-01', 1152),
 ('2025-05-02', 1152),
 ('2025-05-03', 1152),
 ('2025-05-04', 1152),
 ('2025-05-05', 1152),
 ('2025-05-06', 1152),
 ('2025-05-07', 1152),
 ('2025-05-08', 1152),
 ('2025-05-09', 1152),
 ('2025-05-10', 1152),
 ('2025-05-11', 1152),
 ('2025-05-12', 1152),
 ('2025-05-13', 1152),
 ('2025-05-14', 1152),
 ('2025-05-15', 1152),
 ('2025-05-16', 1152),
 ('2025-05-17', 1152),
 ('2025-05-18', 1152),
 ('2025-05-19', 1152),
 ('2025-05-20', 1152),
 ('2025-05-21', 1152),
 ('2025-05-22', 1152),
 ('2025-05-23', 1152),
 ('2025-05-24', 1152),
 ('2025-05-25', 1152),
 ('2025-05-26', 1152),
 ('2025-05-27', 1152),
 ('2025-05-28', 1152),
 ('2025-05-29', 1152),
 ('2025-05-30', 1152),
 ('2025-05-31', 1152),
 ('2025-06-01', 1152),
 ('2025-06-02', 1152),
 ('2025-06-03', 1152),
 ('2025-06-04', 1152),
 ('2025-06-05', 1152),
 ('2025-06-06', 1152),
 ('2025-06-07', 1152),
 ('2025-06-08', 1152),
 ('2025-06-09', 1152),
 ('2025-06-10', 1152),
 ('2025-06-11', 1152),
 ('2025-06-12', 1152),
 ('2025-06-13', 1152),
 ('2025-06-14', 1152),
 ('2025-06-15', 1152),
 ('2025-06-16', 1152),
 ('2025-06-17', 1152),
 ('2025-06-18', 1152),
 ('2025-06-19', 1152),
 ('2025-06-20', 1152),
 ('2025-06-21', 1152),
 ('2025-06-22', 1152),
 ('2025-06-23', 1152),
 ('2025-06-24', 1152),
 ('2025-06-25', 1152),
 ('2025-06-26', 1152),
 ('2025-06-27', 1152),
 ('2025-06-28', 1152),
 ('2025-06-29', 1152),
 ('2025-06-30', 1152)]

### 7. Hierarchy Integrity

In [34]:
%sql SELECT Campaign, COUNT(DISTINCT Ad_Set) AS ad_sets, COUNT(DISTINCT Ad) AS ads FROM meta_ads_data GROUP BY Campaign;

 * sqlite:///marketing.db
Done.

[('Eco Supplement Awareness', 3, 9),
 ('New Year Boost', 3, 9),
 ('Retargeting Push', 3, 9),
 ('Spring Wellness Promo', 3, 9)]

### 8. Revenue vs Conversions Check

In [35]:
%sql SELECT COUNT(*) AS zero_revenue_with_conversions FROM meta_ads_data WHERE Conversions > 0 AND Revenue = 0;

 * sqlite:///marketing.db
Done.

[(0,)]

### 9. Aggregation / Summation Sanity

In [37]:
%sql SELECT Date, Campaign, Ad_Set, Ad, Country, Age_Group, Gender, SUM(Impressions) AS total_impressions, SUM(Clicks) AS total_clicks, SUM(Spend) AS total_spend, SUM(Conversions) AS total_conversions, SUM(Revenue) AS total_revenue FROM meta_ads_data GROUP BY Date, Campaign, Ad_Set, Ad, Country, Age_Group, Gender ORDER BY Date, Campaign, Ad_Set, Ad LIMIT 20;

 * sqlite:///marketing.db
Done.

[('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Belgium', '18-24', 'Female', 2501, 115, 234.1182836294413, 9, 297),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Belgium', '18-24', 'Male', 2470, 91, 164.78890355659547, 1, 48),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Belgium', '25-34', 'Female', 2517, 444, 796.2012365808105, 7, 329),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Belgium', '25-34', 'Male', 2551, 256, 355.3694232679556, 18, 936),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Belgium', '35-44', 'Female', 2539, 0, 0.0, 0, 0),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Belgium', '35-44', 'Male', 2524, 242, 230.03301061637256, 8, 384),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Belgium', '45-54', 'Female', 2453, 102, 87.26008147722797, 21, 1071),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Belgium', '45-54', 'Male', 2459, 0, 0.0, 0, 0),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Denmark', '18-24', 'Female', 1000, 73, 61.55272765954744, 8, 384),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Denmark', '18-24', 'Male', 1050, 61, 144.11339849090842, 0, 0),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Denmark', '25-34', 'Female', 975, 0, 0.0, 0, 0),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Denmark', '25-34', 'Male', 1003, 43, 31.541259814681872, 5, 195),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Denmark', '35-44', 'Female', 996, 179, 359.13660409007616, 13, 416),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Denmark', '35-44', 'Male', 988, 29, 40.72878779653672, 0, 0),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Denmark', '45-54', 'Female', 1030, 136, 293.6517666124484, 6, 264),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Denmark', '45-54', 'Male', 964, 26, 43.90779865450465, 1, 54),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Germany', '18-24', 'Female', 2957, 275, 446.4148121471673, 5, 285),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Germany', '18-24', 'Male', 3084, 88, 181.8903017701712, 0, 0),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Germany', '25-34', 'Female', 3092, 240, 87.87699137914362, 21, 693),
 ('2025-01-01', 'Eco Supplement Awareness', 'Eco Supplement Awareness - Ad Set 1', 'Eco Supplement Awareness - Ad Set 1 - Ad 1', 'Germany', '25-34', 'Male', 2959, 310, 226.21560909967644, 10, 400)]

# ETL

## Extract (done at the top of this page)

In [13]:
print(df.head())

         Date        Campaign                     Ad_Set  \
0  2025-01-01  New Year Boost  New Year Boost - Ad Set 1
1  2025-01-01  New Year Boost  New Year Boost - Ad Set 1
2  2025-01-01  New Year Boost  New Year Boost - Ad Set 1
3  2025-01-01  New Year Boost  New Year Boost - Ad Set 1
4  2025-01-01  New Year Boost  New Year Boost - Ad Set 1

                                 Ad      Country Age_Group  Gender  \
0  New Year Boost - Ad Set 1 - Ad 1  Netherlands     18-24    Male
1  New Year Boost - Ad Set 1 - Ad 1  Netherlands     18-24  Female
2  New Year Boost - Ad Set 1 - Ad 1  Netherlands     25-34    Male
3  New Year Boost - Ad Set 1 - Ad 1  Netherlands     25-34  Female
4  New Year Boost - Ad Set 1 - Ad 1  Netherlands     35-44    Male

   Impressions  Clicks       CTR   CPC       Spend  Conversions  \
0         4952     611  0.123384  1.19  761.694747           15
1         5125     570  0.111220  1.34  968.138314           42
2         5022     365  0.072680  1.09  399.244900           46
3         5023     400  0.079634  1.12  496.985185           30
4         5055     558  0.110386  1.11  650.892036           49

   Cost_per_Conversion  Revenue
0                76.17      510
1                34.58     1512
2                12.88      992
3                24.85     1000
4                19.72     1881

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208512 entries, 0 to 208511
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Date                 208512 non-null  object
 1   Campaign             208512 non-null  object
 2   Ad_Set               208512 non-null  object
 3   Ad                   208512 non-null  object
 4   Country              208512 non-null  object
 5   Age_Group            208512 non-null  object
 6   Gender               208512 non-null  object
 7   Impressions          208512 non-null  int64
 8   Clicks               208512 non-null  int64
 9   CTR                  208512 non-null  float64
 10  CPC                  208512 non-null  float64
 11  Spend                208512 non-null  float64
 12  Conversions          208512 non-null  int64
 13  Cost_per_Conversion  147089 non-null  float64
 14  Revenue              208512 non-null  int64
dtypes: float64(4), int64(4), object(7)
memory usage: 23.9+ MB

## Transform (Clean & Add Dimensions)

Clean

In [14]:
import numpy as np

# Change data types
df['Date'] = pd.to_datetime(df['Date'])
cat_cols = ['Campaign', 'Ad_Set', 'Ad', 'Country', 'Age_Group', 'Gender']
df[cat_cols] = df[cat_cols].astype('category')

# Add key metrics
df['Profit'] = df['Revenue'] - df['Spend']
df['Conversion_Rate'] = df['Conversions'] / df['Clicks'].replace(0, np.nan)
df['ROAS'] = df['Revenue'] / df['Spend'].replace(0, np.nan)
df['ROI'] = (df['Revenue'] - df['Spend']) / df['Spend'].replace(0, np.nan)

# Extract time features
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Month_Name'] = df['Date'].dt.month_name()
df['Week'] = df['Date'].dt.isocalendar().week
df['Day_of_Week'] = df['Date'].dt.day_name()

In [15]:
print(df.head())

        Date        Campaign                     Ad_Set  \
0 2025-01-01  New Year Boost  New Year Boost - Ad Set 1
1 2025-01-01  New Year Boost  New Year Boost - Ad Set 1
2 2025-01-01  New Year Boost  New Year Boost - Ad Set 1
3 2025-01-01  New Year Boost  New Year Boost - Ad Set 1
4 2025-01-01  New Year Boost  New Year Boost - Ad Set 1

                                 Ad      Country Age_Group  Gender  \
0  New Year Boost - Ad Set 1 - Ad 1  Netherlands     18-24    Male
1  New Year Boost - Ad Set 1 - Ad 1  Netherlands     18-24  Female
2  New Year Boost - Ad Set 1 - Ad 1  Netherlands     25-34    Male
3  New Year Boost - Ad Set 1 - Ad 1  Netherlands     25-34  Female
4  New Year Boost - Ad Set 1 - Ad 1  Netherlands     35-44    Male

   Impressions  Clicks       CTR  ...  Revenue       Profit  Conversion_Rate  \
0         4952     611  0.123384  ...      510  -251.694747         0.024550
1         5125     570  0.111220  ...     1512   543.861686         0.073684
2         5022     365  0.072680  ...      992   592.755100         0.126027
3         5023     400  0.079634  ...     1000   503.014815         0.075000
4         5055     558  0.110386  ...     1881  1230.107964         0.087814

       ROAS       ROI  Year  Month  Month_Name  Week  Day_of_Week
0  0.669560 -0.330440  2025      1     January     1    Wednesday
1  1.561760  0.561760  2025      1     January     1    Wednesday
2  2.484690  1.484690  2025      1     January     1    Wednesday
3  2.012132  1.012132  2025      1     January     1    Wednesday
4  2.889880  1.889880  2025      1     January     1    Wednesday

[5 rows x 24 columns]

Dimension tables

In [16]:
# Create Dimension Tables
# Dim_Date
dim_date = df[['Date', 'Year', 'Month', 'Month_Name', 'Week', 'Day_of_Week']].drop_duplicates().reset_index(drop=True)
dim_date['Date_ID'] = range(1, len(dim_date)+1)

# Dim_Campaign
dim_campaign = df[['Campaign']].drop_duplicates().reset_index(drop=True)
dim_campaign['Campaign_ID'] = range(1, len(dim_campaign)+1)

# Dim_Ad_Set
dim_ad_set = df[['Ad_Set', 'Campaign']].drop_duplicates().reset_index(drop=True)
dim_ad_set = dim_ad_set.merge(dim_campaign, on='Campaign', how='left')
dim_ad_set['Ad_Set_ID'] = range(1, len(dim_ad_set)+1)

# Dim_Ad
dim_ad = df[['Ad', 'Ad_Set']].drop_duplicates().reset_index(drop=True)
dim_ad = dim_ad.merge(dim_ad_set[['Ad_Set_ID','Ad_Set']], on='Ad_Set', how='left')
dim_ad['Ad_ID'] = range(1, len(dim_ad)+1)

# Dim_Country
dim_country = df[['Country']].drop_duplicates().reset_index(drop=True)
dim_country['Country_ID'] = range(1, len(dim_country)+1)

# Dim_Age_Group
dim_age = df[['Age_Group']].drop_duplicates().reset_index(drop=True)
dim_age['Age_Group_ID'] = range(1, len(dim_age)+1)

# Dim_Gender
dim_gender = df[['Gender']].drop_duplicates().reset_index(drop=True)
dim_gender['Gender_ID'] = range(1, len(dim_gender)+1)

In [23]:
print(dim_gender.head())

   Gender  Gender_ID
0    Male          1
1  Female          2

In [24]:
# Create Fact Table

fact = df.merge(dim_date[['Date_ID','Date']], on='Date', how='left') \
         .merge(dim_campaign[['Campaign_ID','Campaign']], on='Campaign', how='left') \
         .merge(dim_ad_set[['Ad_Set_ID','Ad_Set']], on='Ad_Set', how='left') \
         .merge(dim_ad[['Ad_ID','Ad']], on='Ad', how='left') \
         .merge(dim_country[['Country_ID','Country']], on='Country', how='left') \
         .merge(dim_age[['Age_Group_ID','Age_Group']], on='Age_Group', how='left') \
         .merge(dim_gender[['Gender_ID','Gender']], on='Gender', how='left')

fact = fact[['Date_ID','Campaign_ID','Ad_Set_ID','Ad_ID','Country_ID','Age_Group_ID','Gender_ID',
             'Impressions','Clicks','CTR','CPC','Spend','Conversions','Cost_per_Conversion',
             'Revenue','Profit','ROI','Conversion_Rate','ROAS']]

In [25]:
print(fact.head())

   Date_ID  Campaign_ID  Ad_Set_ID  Ad_ID  Country_ID  Age_Group_ID  \
0        1            1          1      1           1             1
1        1            1          1      1           1             1
2        1            1          1      1           1             2
3        1            1          1      1           1             2
4        1            1          1      1           1             3

   Gender_ID  Impressions  Clicks       CTR   CPC       Spend  Conversions  \
0          1         4952     611  0.123384  1.19  761.694747           15
1          2         5125     570  0.111220  1.34  968.138314           42
2          1         5022     365  0.072680  1.09  399.244900           46
3          2         5023     400  0.079634  1.12  496.985185           30
4          1         5055     558  0.110386  1.11  650.892036           49

   Cost_per_Conversion  Revenue       Profit       ROI  Conversion_Rate  \
0                76.17      510  -251.694747 -0.330440         0.024550
1                34.58     1512   543.861686  0.561760         0.073684
2                12.88      992   592.755100  1.484690         0.126027
3                24.85     1000   503.014815  1.012132         0.075000
4                19.72     1881  1230.107964  1.889880         0.087814

       ROAS
0  0.669560
1  1.561760
2  2.484690
3  2.012132
4  2.889880

## Load (Get files to PBI)

In [26]:
import os

# Create folder if it doesn't exist
folder = 'meta_ads_data'
os.makedirs(folder, exist_ok=True)

# Export CSVs into that folder
fact.to_csv(f'{folder}/fact_meta_ads.csv', index=False)
dim_date.to_csv(f'{folder}/dim_date.csv', index=False)
dim_campaign.to_csv(f'{folder}/dim_campaign.csv', index=False)
dim_ad_set.to_csv(f'{folder}/dim_ad_set.csv', index=False)
dim_ad.to_csv(f'{folder}/dim_ad.csv', index=False)
dim_country.to_csv(f'{folder}/dim_country.csv', index=False)
dim_age.to_csv(f'{folder}/dim_age.csv', index=False)
dim_gender.to_csv(f'{folder}/dim_gender.csv', index=False)

print(f"Fact and dimension tables exported into folder '{folder}'!")

Fact and dimension tables exported into folder 'meta_ads_data'!